  <!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>学生信息管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" th:href="@{/i/favicon.png}">
    <link rel="apple-touch-icon-precomposed" th:href="@{/i/app-icon72x72@2x.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <script th:src="@{/js/jquery.min.js}"></script>


</head>

<body data-type="generalComponents">


<div th:replace="~{commons/commons::topbartop}"></div>


<div class="tpl-page-container tpl-page-header-fixed">


    <div th:replace="~{commons/commons::sidebar(active='s_a',fa_active='stu')}"></div>

    <div class="tpl-content-wrapper">
        <div class="tpl-content-page-title">
            修改教师信息
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-home">首页</a></li>
            <li><a href="#">教师管理</a></li>
            <li class="am-active">修改教师信息</li>
        </ol>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 修改教师信息
                </div>


            </div>

            <div class="tpl-block">

                <div class="am-g">
                    <div class="tpl-form-body tpl-form-line">
                        <form class="am-form tpl-form-line-form" th:action="@{/teacher/update}" method="post" onsubmit="return submitwww()">
                            <div class="am-form-group">
                                <label for="name" class="am-u-sm-3 am-form-label">老师姓名 <span
                                        class="tpl-form-line-small-title">TeacherName</span></label>
                                <div class="am-u-sm-9">
                                    <input type="text" class="tpl-form-input" name="name" id="name" onblur="checkName()"
                                           th:value="${teacher.getName()}">
                                    <small id="nametext" style="color: red"></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="sex" class="am-u-sm-3 am-form-label">性别 <span
                                        class="tpl-form-line-small-title">Sex</span></label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" id="sex" name="sex">
                                        <option value="男" th:selected="${teacher.getSex()=='男'?true:false}">男</option>
                                        <option value="女" th:selected="${teacher.getSex()=='女'?true:false}">女</option>
                                    </select>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <label for="dept" class="am-u-sm-3 am-form-label">系别 <span
                                        class="tpl-form-line-small-title">Dept</span></label>
                                <div class="am-u-sm-9">
                                    系别：<select data-am-selected="{searchBox: 1}" id="dept" name="dept.deptno">
                                    <option th:each="dept:${session.depts}" th:text="${dept.getDeptname()}"
                                            th:value="${dept.getDeptno()}" th:selected="${teacher.getDept().getDeptname()==dept.getDeptname()?true:false}"></option>
                                    <div class="am-u-sm-9">
                                        <small id="classestext" style="color: red"></small>
                                    </div>
                                </select>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label class="am-u-sm-3 am-form-label">生日<span class="tpl-form-line-small-title">Birthday</span></label>
                                <div class="am-u-sm-9">
                                    <input type="date" name="birthday" id="birthday" onblur="checkBirthday()" th:value="${#dates.format(teacher.getBirthday(),'yyyy-MM-dd')}">
                                    <small id="birthdaytext" style="color: red"></small>
                                </div>
                            </div>

                            <div class="am-form-group">
                                <label for="sex" class="am-u-sm-3 am-form-label">职称 <span
                                        class="tpl-form-line-small-title">Sex</span></label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" id="ptitle" name="ptitle">
                                        <option value="助教" th:selected="${teacher.getPtitle()=='助教'?true:false}">助教</option>
                                        <option value="高工" th:selected="${teacher.getPtitle()=='高工'?true:false}">高工</option>
                                        <option value="讲师" th:selected="${teacher.getPtitle()=='讲师'?true:false}">讲师</option>
                                        <option value="副教授" th:selected="${teacher.getPtitle()=='副教授'?true:false}">副教授</option>
                                        <option value="教授" th:selected="${teacher.getPtitle()=='教授'?true:false}">教授</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="sex" class="am-u-sm-3 am-form-label">学历 <span
                                        class="tpl-form-line-small-title">History</span></label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" id="studyhistory" name="studyhistory">
                                        <option value="本科" th:selected="${teacher.getStudyhistory()=='本科'?true:false}">本科</option>
                                        <option value="硕士" th:selected="${teacher.getStudyhistory()=='硕士'?true:false}">硕士</option>
                                        <option value="博士" th:selected="${teacher.getStudyhistory()=='博士'?true:false}">博士</option>
                                        <option value="博士后" th:selected="${teacher.getStudyhistory()=='博士后'?true:false}">博士后</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <label for="politapperance" class="am-u-sm-3 am-form-label">政治面貌<span
                                        class="tpl-form-line-small-title">Author</span></label>
                                <div class="am-u-sm-9">
                                    <select data-am-selected="{searchBox: 1}" id="politapperance" name="politapperance">
                                        <option value="群众" th:selected="${teacher.getPolitapperance()=='群众'?true:false}">群众</option>
                                        <option value="共青团员" th:selected="${teacher.getPolitapperance()=='共青团员'?true:false}">共青团员</option>
                                        <option value="中共党员" th:selected="${teacher.getPolitapperance()=='中共党员'?true:false}">中共党员</option>
                                    </select>
                                </div>
                            </div>



                            <div class="am-form-group">
                                <label for="password" class="am-u-sm-3 am-form-label">密码 <span
                                        class="tpl-form-line-small-title">PassWord</span></label>
                                <div class="am-u-sm-9">
                                    <input type="password" class="tpl-form-input" id="password" name="password"
                                           placeholder="请输入密码" onblur="checkPassWord()">
                                    <small id="passwordtext" style="color: red"></small>
                                </div>
                            </div>


                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3">
                                    <input type="submit" class="am-btn am-btn-primary tpl-btn-bg-color-success "/>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </div>


    </div>

    <script type="text/javascript">
        function checkName() {
            if ($("#name").val() == "") {
                $("#nametext").html("姓名不得为空！");
                return false;
            }
            return true;
        }

        function checkDept() {
            if ($("#dept").val() == "nul") {
                return false;
            }
            return true;
        }

        function checkBirthday() {
            if ($("#birthday").val() == "") {
                $("#birthdaytext").html("生日不得为空！");
                return false;
            }
            return true;
        }


        function checkPassWord() {
            if ($("#password").val() == "") {
                $("#passwordtext").html("密码不得为空！");
                return false;
            }
            return true;
        }


        function submitwww() {
            if ( checkPassWord() & checkBirthday() & checkName() & checkDept()) {
                return true;
            } else {
                alert("有未填完的必填项哦！");
                return false;
            }
        }
    </script>

</div>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/amazeui.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>

</html>